# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Airflow
AIRFLOW_IMAGE_NAME=apache/airflow:3.2.0
AIRFLOW_UID=50000
AIRFLOW_FERNET_KEY=
AIRFLOW__API_AUTH__JWT_SECRET=
AIRFLOW_PROJ_DIR=.

# Airflow admin credentials
_AIRFLOW_WWW_USER_USERNAME=
_AIRFLOW_WWW_USER_PASSWORD=

# Slack
SLACK_WEBHOOK_URL=